# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production build artifacts
build/
dist/
.wrangler/

# Environment variables & local secrets
.env
.env.local
.env.production
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# System files
.DS_Store
Thumbs.db

API.txt
*.key
